<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prototypen und Kleinserienfertigung Lübeck. Kompetente, höchstpräzise Umsetzung von Anfragen nach entsprechenden Normen und Standards.">
    <title>PKFL</title>
    <link rel="stylesheet" href="/bundle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
  </head>
  <div class="topnav">
    <a class="title" aria-label="Startseite" href="/">
      <svg width="73.35" height="21.24" viewbox="0 0 73.35 21.24" xmlns="http://www.w3.org/2000/svg">
        <g
          id="svgGroup"
          stroke-linecap="round"
          fill-rule="evenodd"
          font-size="9pt"
          stroke="#f5eeef"
          stroke-width="mm"
          fill="#f5eeef"
          style="stroke:#f5eeef;stroke-width:mm;fill:#f5eeef"><path
            d="M 43.5 0 L 34.35 10.17 L 40.23 21.24 L 32.31 21.24 L 27.75 12 L 26.13 21.24 L 19.47 21.24 L 23.22 0 L 29.88 0 L 28.29
              8.94 L 35.97 0 L 43.5 0 Z M 45.87 0 L 60.87 0 L 59.94 5.28 L 51.6 5.28 L 51.09 8.22 L 57.09 8.22 L 56.19 13.23 L 50.19
              13.23 L 48.78 21.24 L 42.12 21.24 L 45.87 0 Z M 10.5 14.49 L 7.86 14.49 L 6.66 21.24 L 0 21.24 L 3.75 0 L 13.05 0 A 12.01
              12.01 0 0 1 15.011 0.15 Q 16.993 0.478 18.21 1.53 A 5.013 5.013 0 0 1 19.918 4.769 A 7.177 7.177 0 0 1 19.98 5.73 Q 19.98
              6.243 19.889 6.901 A 13.924 13.924 0 0 1 19.83 7.29 Q 19.47 9.3 18.27 10.935 Q 17.07 12.57 15.075 13.53 A 9.626 9.626 0 0
              1 12.205 14.377 A 12.401 12.401 0 0 1 10.5 14.49 Z M 69.78 0 L 66.93 16.2 L 73.35 16.2 L 72.45 21.24 L 59.37 21.24 L
              63.12 0 L 69.78 0 Z M 11.37 5.34 L 9.48 5.34 L 8.79 9.24 L 10.68 9.24 Q 12.482 9.24 12.973 7.718 A 3.41 3.41 0 0 0 13.08
              7.29 A 8.557 8.557 0 0 0 13.106 7.123 Q 13.139 6.898 13.14 6.785 A 0.784 0.784 0 0 0 13.14 6.78 Q 13.14 5.34 11.37 5.34
              Z"
            vector-effect="non-scaling-stroke"/> </g>
      </svg>
    </a>
    <a href="/#Anwendungen">Anwendungen</a>
    <a href="/#Service">Service</a>
    <a href="/kontakt">Kontakt</a>

  </div>
  <body>
    {{content | safe }}
  </body>
</html>