---
layout: main.njk
---
<div style="font-size: 20px; text-align: center; padding: 2em; color: var(--light); background-color: var(--dark2); height:100vh; ">
<h2>Vielen Dank, wir haben Ihre Anfrage erhalten und melden uns unverzüglich zurück.</h2>
  <div class="btn">
    <a href="/">zur Startseite</a>
  </div>
</div>